DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen3.5-plus
REVENUECAT_WEBHOOK_AUTH_HEADER=Bearer your_revenuecat_webhook_secret
REVENUECAT_SECRET_API_KEY=sk_your_revenuecat_secret_api_key
REVENUECAT_API_BASE_URL=https://api.revenuecat.com/v1
